<h1>Contratista <%= @sub_contractor.name %></h1>
<p>
<%= @sub_contractor.rif  %>
</p>
<p>
<%= @sub_contractor.address  %>
</p>
<p>
<%= @sub_contractor.phone  %>
</p>
<p>
<%= @sub_contractor.email %>
</p>