<%= table_panel("USUARIOS DE #{@company.name}") do %>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Telefono</th>
    <th>Tipo de Usuario</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.user_type %></td>
    </tr>
  <% end %>
<% end %>