<tr id= <%= "task-#{task.id}" %> class=<%= class_completed(task.completed?) %> >
  <td class="state-cell">
    <%= link_to_change_completed(task.completed?, [:mark, project, activity, task]) %>
  </td>
  <td class="name-cell">
    <%= task.description %>
  </td>
  <td class="close-cell">
    <%= link_to_delete_task([project, activity, task]) %>
  </td>
</tr>