<h1>This is important Layout! WORK in it!</h1>
<h2><%= @project.name %></h2>
<p>
<%= @project.budget  %>
</p>
<p>
<%= @project.init_date  %>
</p>
<p>
<%= @project.finish_date  %>
</p>
<p>
<%= @project.address %>
</p>

<% if can? :read, Activity %>
  <td><%= link_to "Actividades", project_activities_path(@project) %></td>
<% end %>
<% if can? :read, Collaborator %>
  <td><%= link_to "colaboradores", project_collaborators_path(@project) %></td>
<% end %>

<div class="wrapper">
  <div class="timeline-wrap">
    <% Execution.order('date').distinct.pluck(:date).each do |date| %>
    <div class="timeline-event">
      <div class="timeline-title"><%= date.strftime('%d-%m-%Y') %></div>
      <div class="timeline-content">
        <ul>
        <%Execution.where(date: date).includes(:activity).each do |e| %>
         <li> Actividad <%= e.activity.name %> - <%= e.percent %>% <%= progress_bar_of_execution(e.percent) %> </li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "touch.timeline.js" %>
