<h1>This is important Layout! WORK in it!</h1>
<h2><%= @project.name %></h2>
<p>
<%= @project.budget  %>
</p>
<p>
<%= @project.init_date  %>
</p>
<p>
<%= @project.finish_date  %>
</p>
<p>
<%= @project.address %>
</p>

<% if can? :read, Activity %>
  <td><%= link_to "Actividades", project_activities_path(@project) %></td>
<% end %>
<% if can? :read, Collaborator %>
  <td><%= link_to "colaboradores", project_collaborators_path(@project) %></td>
<% end %>