<%= table_panel("LISTADO DE CONTRATANTES") do %>
  <tr>
    <th>Nombre</th>
    <th>Rif</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Email</th>
  </tr>
  <% @contractors.each do |contractor| %>
    <tr>
      <td><%= contractor.name %></td>
      <td><%= contractor.rif %></td>
      <td><%= contractor.address %></td>
      <td><%= contractor.phone %></td>
      <td><%= contractor.email %></td>
      <% if can? :read, contractor %>
        <td><%= link_to_show "detalles", contractor_path(contractor) %></td>
      <% end %>
      <% if can? :edit, contractor %>
        <td><%= link_to_edit "editar", edit_contractor_path(contractor) %></td>
      <% end %>
      <% if can? :read, User %>
        <td><%= link_to "usuarios", contractor_users_path(contractor) %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>

