<h1>Nuevo Contratante</h1>
<%= simple_form_for @contractor do |f| %>
  <%= f.input :name %>
  <%= f.input :rif %>
  <%= f.input :address %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.submit %>
<% end %>
