<%= table_panel("Imagenes de #{@activity.name}", (can?(:create, Image)),
  button_options: { text: "Nuevo Imagen", url: [:new, @project, @activity, :image] }) do %>
  <tr>
    <th>Descripcion</th>
    <th>Archivo</th>
  </tr>
  <% @images.each do |image| %>
    <tr>
      <td><%= image.description %></td>
      <td><%= image.image_file.url %></td>
      <td>
        <%= image_tag(image.image_file.url) %>
      </td>
      <% if can? :edit, image %>
        <td><%= link_to_edit "editar", [:edit, @project, @activity, image] %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>

