<h1>This is important Layout! WORK in it!</h1>
<h2><%= @project.name %></h2>
<p>
<%= @project.budget  %>
</p>
<p>
<%= @project.init_date  %>
</p>
<p>
<%= @project.finish_date  %>
</p>
<p>
<%= @project.address %>
</p>