<%= progress_bar_of_execution(@activity.current_execution.percent) %>
<div class="row">
  <div class="col-md-7">
    <%= panel(@activity.name, false) do %>
      <%= render "activity_section" %>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= panel("lista de tareas", false) do %>
      <%= render "tasks_section" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= panel("Seguidores de Actividad", false) do %>
      <%= render "followers_section" %>
    <% end %>
  </div>
</div>





<div class="row">
  <div class="col-md-4">
    <% if @activity.has_parent? %>
      <p>Depende de: <%= @activity.parent.name %> </p>
      <% if @activity.parent_finished? %>
        <%= popover_to_execution_form(@execution, project_activity_execution_path(@project,
            @activity, @execution)) %>
      <% end %>
    <% else %>
      <% if @activity.executing? %>
        <%= popover_to_execution_form(@execution, project_activity_execution_path(@project,
            @activity, @execution)) %>
        <% end %>
    <% end %>
    </p>
  </div>
</div>
<div class="row">

</div>
<%= link_to "Imagenes", [@project, @activity, :images] %>
