<%= progress_bar_of_execution(@activity.current_execution.percent) %>
<div class="row">
  <div class="col-md-7">
    <%= panel(@activity.name, false) do %>
      <%= render "activity_section" %>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= popover_to_execution_form(@execution, project_activity_execution_path(@project,
      @activity, @execution)) %>
    <%= link_to "Imagenes", [@project, @activity, :images] %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= panel("Ultimas Imagenes", false) do %>
      <div class="thumb-gallery">
        <% @activity.images.each_with_index do |image, index| %>
          <%= thumb_link(image, index) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= panel("lista de tareas", false) do %>
      <%= render "tasks_section" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= panel("Seguidores de Actividad", false) do %>
      <%= render "followers_section" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= panel("Comentarios", false) do %>
      <%= render "comments_section" %>
    <% end %>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto({
      social_tools: '',
      show_title: false
    });
  });
</script>