<!DOCTYPE html>
<html>
  <head>
    <title>Vesta</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- MENU -->
    <%= render 'shared/menu_bar' %>
    <!-- CONTENT -->
    <div class="container">
      <div class="header-container">PROYECTOS otra cosa</div>
      <div class="body-container">
        <div class="row">
          <div class="col-md-12">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="footer-container">
      ©Copyright 2013 TAMPACO C.A. Todos los derechos reservados
      </div>
    </div>
  </body>
</html>
