<!DOCTYPE html>
<html>
  <head>
    <title>Vesta</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- MENU -->
    <%= render 'shared/menu_bar' %>
    <!-- CONTENT -->
    <div class="container">
      <div class="header-container">PROYECTOS otra cosa <%= current_user.try :full_name %></div>
      <div class="body-container">
        <% if notice %>
          <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="footer-container">
      ©Copyright 2013 TAMPACO C.A. Todos los derechos reservados
      </div>
    </div>
  </body>
</html>
