<!DOCTYPE html>
<html>
  <head>
    <title>Vesta</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- CONTENT -->

    <%= render "shared/menu_bar" %>
    <ol class="breadcrumb">
      DASHBOARD
    </ol>

    <div class="container main-container">
      <!-- MENU -->
      <% if user_signed_in? %>
        <%= current_user.user_type %>
        <%= current_user.company.name %>
        <%= current_user.company_type %>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
